.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 0 5px;
  height: 50px;
  width: 230px;
  margin-top: 30px;
}

.formGroup > div,
.redirect > div {
  border-radius: 5px;
  box-shadow: 0 5px 25px rgba(0,0,0,0.15);
}

.formGroup > div:hover,
.redirect > div:hover {
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.redirect {
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
}

.redirect > div {
  width: 230px !important;
  height: 50px !important;
}

.hide {
  display: none;
}