.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1565C0;
  width: 60px;
  height: 100vh;
}

.top {
  position: relative;
  top: 0;
}

.bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.button {
  position: relative;
  display: block;
  width: 100%;
  height: 75px;
  outline: none;
  border: none;
  padding: 0;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
}
.button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(250,250,250,0);
}

.button:hover::after {
  /*background-color: rgba(250,250,250,0.4);*/
}

.profile {
  width: 37.5px;
  height: 37.5px;
  margin: auto;
  background-color: #FAFAFA;
  border-radius: 50%;
  line-height: 37.5px;
  font-size: 27px;
  color: #1565c0;  
}

.active {
  background-color: #FAFAFA;
}
.active .profile {
  background-color: #1565C0;
  color: #FAFAFA;
}

.active svg path {
  fill: #1565C0;
}