.title {
  padding: 0;
  margin: 0;
  font-size: 27px;
  font-weight: 500;
}

.boards {
  margin-top: 30px;
  display: flex;
  align-items: flex-start;  
}

.board_add {
  min-width: 250px;
  max-width: 250px;
}

.board_add_button {
  box-sizing: border-box;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 74px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  padding: 8px;
  border: 12px solid #C9EEFF;
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}
.board_add_button::after {
  content: '';
  position: absolute;
  top: -12px;
  left: -12px;
  width: calc(100% + 24px);
  height: calc(100% + 24px);
  background-color: rgba(0,0,0,0);
  border-radius: 5px;
  transition: background-color 0.1s cubic-bezier(0.4, 0.0, 0.2, 1);
}
.board_add_button:active::after {
  background-color: rgba(0,0,0,0.1);
}
.board_add_button span {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.board_title {
  padding: 0;
  margin: 0;
  padding-left: 15px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
}
.board_icon {
  margin-right: 9px;
}
.applied {
  margin-right: 7px;
}
.interested svg {
  transform: translateY(1px);
}

.jobs {
  box-sizing: border-box;
  background-color: #C9EEFF; 
  min-width: 250px;
  max-width: 250px;
  padding: 12px;
  margin: 0 25px;
  max-height: calc(100vh - 50px - 30px - 32px - 27px);
  box-shadow: 0 5px 20px rgba(0,0,0, 0.05);
  ovoerflow: -moz-scrollbars-none;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 5px;
}
.jobs::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.jobs:first-child {
  margin-right: 0;
}
.jobs:last-child {
  margin-left: 0;
}
